/* global.css */
html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  background-image: linear-gradient(
    135deg,
    rgba(100, 100, 100, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  background-color: "#fff";
  background-repeat: no-repeat;
  background-size: cover;
}

.image-section {
  text-align: center;
  margin-bottom: 2rem;
}

.reviews-section {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.reviews-section h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.videos-section {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.videos-section h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.send-message-section {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #e9e9e9;
  border-radius: 8px;
}

.faq-section {
  padding: 1rem;
  background-color: #f7f7f7;
  border-radius: 8px;
}

.faq-section h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}
