/* components/Navbar.module.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse; /* Reverse order for right alignment */
}

.navItem {
  margin: 0 10px;
}

.navButton {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: #555;
}

.navLink {
  color: inherit;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

.appName {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
